* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    padding: 10px;
    text-align: center;
    background: linear-gradient(90deg, #0f77f5 0%, #005bb5 100%);
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    border-bottom: 3px solid #004a99;
}

header h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

input::file-selector-button {
    background-color: #0f77f5;
    color: #fff;
    padding: 10px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

input::file-selector-button:hover {
    background-color: #005bb5;
}

.room {
    width: 80vw;
    height: 60vh;
    border: 2px solid #ccc;
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.resizable {
    position: absolute;
    cursor: grab;
    display: inline-block;
}

.resizer {
    width: 10px;
    height: 10px;
    background-color: #fff;
    border: 1px solid #000;
    position: absolute;
    z-index: 10;
    display: none;
}

.resizable:hover .resizer {
    display: block;
}

.resizer.top-left {
    top: -5px;
    left: -5px;
    cursor: nwse-resize;
}

.resizer.top-right {
    top: -5px;
    right: -5px;
    cursor: nesw-resize;
}

.resizer.bottom-left {
    bottom: -5px;
    left: -5px;
    cursor: nesw-resize;
}

.resizer.bottom-right {
    bottom: -5px;
    right: -5px;
    cursor: nwse-resize;
}

.table {
    display: block;
    max-width: 150%;
    max-height: 150%;
    mix-blend-mode: multiply;
}

.inputs {
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    gap: 20px;
}

.inputs label {
    font-weight: bold;
}

.bgimg, .objimg {
    display: flex;
    align-items: center;
    gap: 10px;
}

#objimage {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    background-color: #f4f4f4;
}
